.App {
  text-align: center;

}






.Card{

display:flex;
flex-direction:column;
width:fit-content;
justify-content:center;
background-color:rgb(139, 93, 182);
position: relative;
left: 35%;
top:200px;
padding:70px;


}

.Card input[type="number"]{
  width:20vw;
  padding:15px;
  margin:10px;
  font-size:20px;
  font-weight:bold;
}

.Card input[type="submit"]{
  background:rgb(226, 44, 44);
  border:1px solid rgb(226, 44, 44);
  font-family:'Courier New', Courier, monospace;
  color:#fff;
  font-size:20px;
}
.Card input[type="submit"]:hover{
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}
label{
  display:inline-block;
}